  

              html{
                height: 100vh;
                margin: 0;  
                justify-content: center;
              }
                
                body {
                    background-image: url('login3.jpg');
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    margin: 0;
                    height: 100vh;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                h1
                {
                text-align: center; 
                }
                .input-group {
                display: flex;
                align-items: center;
                width: 80%;
                margin-bottom: 10px;
                }
            
                .input-group input[type="username"], 
                .input-group input[type="password"] 
                {
                width: 60%;
                padding: 10px;
                border: 1px solid #0e0d0d;
                border-radius: 5px;
                box-sizing: border-box;
                color: black;
                background-color: rgba(94, 218, 214, 0.2);
                }
                button {
                padding: 10px 20px;
                border: none;
                background-color: rgb(115, 65, 232);
                cursor: pointer;
                border-radius: 5px;
                margin: 10px auto; /* Centering the submit button */
                color: rgb(0, 0, 0);
                transition: background-color 0.3s;
                
                font-weight: bolder;
                }
                
            
            .input-group label
            {
                width: 30%;
                text-align: left;
                margin-right: 10px;
                color: rgb(0, 0, 0);
                font-weight: bold;
            }
            input::placeholder
            {
                color: rgb(0, 0, 0);
                opacity: 1;
            }
            fieldset
                {
                    min-width: 370px;
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 auto;
                    border: 2px rgb(136, 52, 136);
                    background-color: rgb(80, 63, 235,0.2);
                    box-shadow: 0 4px 8px rgba(118, 5, 216, 0.2);
                    border-radius: 50px; /* Add this line to make corners curved */
                }